<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>DropNews: Comunidad online de full Noticias</title>
	<link rel="stylesheet" href="normalize.css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/estilos.css" />
	<link rel="stylesheet" href="/static/responsive.css" />

</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="logo.png" />
		</figure>
		<h1 id="titulo_header">DropNews: Comunidad online de full Noticias</h1>
		<figure id="avatar">
			<img src="avatar.jpg" />
			<figcaption></figcaption>
		</figure>
	</header>
	  {% include 'menu.html' %}

	<section id="contenido">
	    <form method="post" enctype="multipart/form-data">
	    	{% csrf_token %}
	      <div class="form">

                    <div class="contact_input" />{{ form.usuario.errors }}</div>

                    <label class="contact"><strong>Usuario:</strong></label>

                    <div class="contact_input" />{{ form.usuario }}</div>
					<label class="contact"><strong>Foto:</strong></label>

                    <div class="contact_input" />{{ form.imagen }}</div>
                    </div>  

                    

                    <div class="form_row">

                    <div class="contact_input" />{{ form.email.errors }}</div>

                    <label class="contact"><strong>Email:</strong></label>

                    <div class="contact_input" />{{ form.email }}</div>

                    </div>

                    

                    <div class="form_row">

                    <div class="contact_input" />{{ form.password1.errors }}</div>

                    <label class="contact"><strong>Contraseña:</strong></label>

                    <div class="contact_input" />{{ form.password1 }}</div>

                    </div>





                    <div class="form_row">

                    <div class="contact_input" />{{ form.password2.errors }}</div>

                    <label class="contact"><strong>Otra vez:</strong></label>

                    

                    <div class="contact_input" />{{ form.password2 }}</div>

                    </div>

                    

                    <div class="form_row">

                    <input type="submit" class="register" value="Registrar" />

                    </div> 
		<form>
		</div>
	</section>
	<footer>
		<p><strong>DSI</strong> {{frase}}</p>
		<p>Upao 2013 ®</p>
	</footer>
</body>
</html>
